/* Reset CSS */
* {
  /* Emmet */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* Hành vi khi cuộn trang */
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Từ tổng quan đến chi tiết 
*/
/* 
1.Vị trí
2.Kích thước (width, height)
3.Màu sắc
4.Kiểu dáng: Kiểu chữ, tròn vuông....
*/

/* Common */
/* Khắc phục lỗi khi sử dụng float */
.clear {
  clear: both;
}

/* Đặt cho những vùng cần màu trắng chèn thêm class */
.text-white {
  color: #fff !important;
}
.mt-8 {
  margin-top: 8px !important;
}
.mt-16 {
  margin-top: 16px !important;
}

/* Dùng chung class btn */
.btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #ccc;
}
/* Căn chỉnh hàng chung */
.row {
  margin-left: -8px;
  margin-right: -8px;
}

/* Element giả để khắc phục lỗi float */
.row::after {
  content: "";
  display: block;
  clear: both;
}

/* Căn chỉnh cột chung */
.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

/*Cách 2: Chia thành 3 cột, Cách 1 .place-item */
.col-third {
  width: 33.33333%;
}
/* Chia thành 2 cột */
.col-half {
  width: 50%;
}
/* 1 cột 100% */
.col-full {
  width: 100%;
}
/* Main */
#main {
}

/* Header */
#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  /* Cho nổi header trên slider: Tăng dần lên cho đến khi nổi */
  z-index: 1;
}
/* Độ rộng của thẻ nav */
#nav {
  display: inline-block;
}

/* Loại bỏ dấu của thẻ ul, ol */
#nav,
.subnav {
  list-style-type: none;
}

#nav > li {
  /* Theo 1 hàng */
  display: inline-block;
  position: relative;
}
/* Gọi đến con trực tiếp, các thẻ a con k bi tác động */
#nav > li > a {
  color: #fff;
  /* Đổi phông chữ: chữ hoa, chữ thường... */
  text-transform: uppercase;
}

#nav li a {
  /* Bỏ gạch chân */
  text-decoration: none;
  /* Căn giữa theo khoảng cách */
  line-height: 46px;
  padding: 0 24px;
  /* Kích thước thẻ a */
  display: block;
}
/* Ghi đè lên để hiện khối subnav */
#nav li:hover .subnav {
  display: block;
}
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}
#nav .subnav {
  display: none;
  /* position: absolute; -> Vị trí phụ thuộc vào thẻ cha */
  position: absolute;
  background-color: #fff;
  /* Bóng đổ theo x, y, kc, màu */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  /* Độ rộng min của khung subnav */
  min-width: 160px;
}

#nav .subnav a {
  color: #000;
  padding: 0 12px;
  line-height: 38px;
  top: 100%;
  left: 0;
}

/* Khung màu và độ rộng của thẻ con subnav */
#nav .subnav li:hover a {
  width: 100%;
  color: #000;
  background-color: #ccc;
}

/* Icon down */
#nav .nav-icon-down {
  font-size: 14px;
}

#header .mobile-menu-btn {
  /* Fix lỗi icon position */
  position: absolute;
  top: 0;
  right: 0;
  /* Ẩn trong taplet và PC khi mobile thì cho block hiện lên */
  display: none;
}

/* Icon search */
#header .mobile-menu-btn,
#header .search-btn {
  /* Di chuyển icon sang phải */
  float: right;
  padding: 0 21px;
}

/* Icon menu Mobile */
#header .mobile-menu-btn:hover {
  background-color: #ccc;
}
#header .mobile-menu-btn:hover .menu-icon {
  color: #000;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}
/* Căn chỉnh icon search */
#header .menu-icon,
#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

/* Slider */
#slider {
  position: relative;
  margin-top: 46px;
  /* Chiều cao = 50% chiều rộng */
  padding-top: 50%;
  /* Thuộc tính backgroud: img position / size repeat */
  background: url("../img/Slider1/Slider1.jpg") top center / cover
    no-repeat;
}
/* Căn chỉnh content */
#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  /* Căn chỉnh giữa */
  /* Cách 1: */
  /* left: 50%;
  transform: translateX(-50%); */
  /* Cách 2: Thông dụng: tự động căn giữa*/
  width: 100%;
  /* Cách 3: */
  /* left: 0;
  right: 0; */
  text-align: center;
  text-shadow: 0 0 1px #000;
}
#slider .text-headding {
  /* Giảm độ dày của chữ: Chạy từ 100-700 */
  font-weight: 400;
  font-size: 24px;
}
#slider .text-description {
  font-size: 15px;
  margin-top: 25px;
}

/* Content */
#content {
}

/* About section */
#content .content-section {
  padding: 64px 0 112px;
  /* Độ rộng của about content */
  width: 800px;
  /* Dùng responsive */
  max-width: 100%;
  /* Căn giữa*/
  margin-left: auto;
  margin-right: auto;
  /* fix lỗi rep trên Ipad */
  padding-left: 16px;
  padding-right: 16px;
}
#content .content-heading {
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  /* Khoảng cách các chữ */
  letter-spacing: 4px;
}
#content .content-slogan {
  font-size: 15px;
  text-align: center;
  margin-top: 25px;
  /* Kiểu chữ: Chữ nghiêng */
  font-style: italic;
  /* Độ trong suốt từ 0-1 */
  opacity: 0.6;
}
#content .about-text {
  margin-top: 15px;
  font-size: 15px;
  /* Căn đều 2 bên text */
  text-align: justify;
  line-height: 22.5px;
}
/* Member about section */
#content .member-list {
  margin-top: 48px;
}
#content .member-item {
  /* float: left; */
  /* Căn chỉnh khoảng cách ảnh */
  /* width: 33.33333%; */
  /* width: calc(100%/3); */
  text-align: center;
}
#content .member-name {
  font-size: 15px;
}
#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

/* Tour-section */
#content .tour-section {
  background-color: black;
}
/* Tickets-list */
#content .ticket-list {
  margin-top: 40px;
  list-style: none;
  background-color: #fff;
}
#content .ticket-list li {
  font-size: 15px;
  padding: 11px 16px;
  /* Tạo dòng kẻ bên dưới */
  border-bottom: 1px solid #ddd;
  color: #757575;
}
.ticket-list .sold-out {
  background-color: #f44336;
  color: #fff;
  padding: 3px 4px;
  margin-left: 16px;
}
.ticket-list .sold-exits {
  /* Khi sử dụng float thì mới sử dụng được w, h, margin < 0 */
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  /* Căn khoảng cách của sold exits ra giữa */
  margin-top: -3px;
}
/* Places-list */
.places-list {
  /* Sử dụng row không cần căn trái phải*/
  margin-top: 32px;

  /* Sử dụng để căn chỉnh đều 2 mép trái phải */
  /* margin-left: -8px;
  margin-right: -8px; */

  /* short-hand */
  /* margin: 32px -8px 0; */
}
/* Cách 1:Chia thành 3 phần 
hoặc có thể tạo ra 1 class dùng chung như cách 2 */
.place-item {
  /* width: 33.33333%; */
}

/* Làm đục màu ảnh */
.place-img:hover {
  opacity: 0.6;
}
.place-img {
  /* Cho độ rộng ảnh bằng thẻ cha chứa nó */
  width: 100%;
  /* Thay đổi ảnh thành block để xóa bỏ khoảng cách vs body */
  display: block;
}
.place-body {
  padding: 16px;
  font-size: 15px;
  background-color: #fff;
}
.place-heading {
  font-size: 15px;
  font-weight: 600;
}
.place-time {
  margin-top: 15px;
  color: #757575;
}
.place-description {
  margin-top: 15px;
  line-height: 1.4;
}
.place-buy {
  text-decoration: none;
  color: #fff;
  background: #000;
  padding: 10px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
  cursor: pointer;
}

/* Contact */
.contact-content {
  margin-top: 48px;
}
/* Bên trái */
.contact-left {
  font-size: 18px;
  line-height: 1.5;
}
.contact-left i[class*="ti-"] {
  width: 30px;
  display: inline-block;
}
.contact-left a{
  color: #00e;
  opacity: 0.8;
}
.contact-left a:hover{
  opacity: 1;
}
/* Bên phải */
.contact-right {
  font-size: 15px;
}
.contact-right .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.contact-right .form-submit-btn:hover {
  color: #000;
  background-color: #ccc;
}

.contact-right .form-submit-btn {
  font-size: 15px;
  color: #fff;
  background-color: #000;
  border: none;
  padding: 10px 15px;
  float: right;
  cursor: pointer;
}

/* Map section */
.map-section img {
  width: 100%;
}

/* Footer */
#footer {
  padding: 64px 16px;
  text-align: center;
}
#footer .social-list {
  font-size: 24px;
}
#footer .social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}
#footer .copyright a:hover,
#footer .social-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}
#footer .copyright {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.6);
}
#footer .copyright a {
  color: rgba(0, 0, 0, 0.6);
}

/* Modal Buy Tickets */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
  /* Khi co vào luôn cách mép 2 bên 16px */
  max-width: calc(100%-32px);
  animation: modalFadeIn ease 0.5s;
}
.modal-heading {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal-heading .modal-icon {
  margin-right: 16px;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 16px;
  cursor: pointer;
}
.modal-body {
  padding: 16px;
}
label.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}
input.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}
#buy-ticket:hover {
  color: #000;
  background-color: #ccc;
}

#buy-ticket {
  width: 100%;
  color: #fff;
  background-color: #009688;
  border: none;
  font-size: 15px;
  text-transform: uppercase;
  padding: 16px;
  cursor: pointer;
}
.modal-footer {
  text-align: right;
  padding: 16px;
  font-size: 16px;
}
.modal-help a {
  color: #2196f3;
}
/* Open buy ticket */
.modal.open {
  display: flex;
}

/* Chuyển động modal */
@keyframes modalFadeIn {
  from {
    transform: translateY(-150px);
    opacity: 0.6;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
